.all-prod{
    display: grid;
  grid-template-columns: 1fr 1fr  1fr;

}

.prod-row{
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
}   
.prod-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    background-color: #e4c8df;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

}
.prod-card:hover {
    transform: scale(1.05);
}