
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    color: #333;
    line-height: 1.6;
    padding: 50px 0;
}


/* Header */
header {
    background: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

/* Button */
button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;

}

button:hover {
    background: #0056b3;
}







